
.main--container{
    display: flex;
    flex-direction: column;
}


.main--container main{
    display: flex;
    
    /* min-height: 100vh; */
    width: 100%;
}

.filter--section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%; /* 25% of the screen */
    /* background-color: lightblue; */
}

.events--section{
    flex: 1; /*Takes the remaining space */
    /* background-color: lightcoral; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.events--list--view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

.charts--section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.subheader{
    display: flex;

    align-items: center;
    justify-content: space-around;

    margin: 2.5rem 0;
}

.date--selector{
    display: flex;
    align-items: center;
}

/* Forms */

.filter--form{
    display: flex;
    flex-direction: column;
}

.filter--fieldset{
    display: flex;
    flex-direction: column;
}

