.categoryComponent{
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}